<?xml version="1.0"?>
<robot name="fishbot">

    <!-- Robot Footprint -->
    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="chassis_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

    <!-- Chassis link -->
    <link name="chassis_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.1 0.05"/>
            </geometry>
            <material name="blue">
                <color rgba="0.1 0.1 1.0 0.5" /> 
            </material>
        </visual>
    </link>

    <!-- laser link -->
    <link name="laser_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.02"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 0.8" /> 
            </material>
        </visual>
    </link>

    <!-- laser joint -->
    <joint name="laser_joint" type="fixed">
        <parent link="chassis_link" />
        <child link="laser_link" />
        <origin xyz="0.1 0 0.075" />
    </joint>


    <!-- imu link -->
    <link name="imu_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <material name="red">
                <color rgba="1.0 0.1 0.1 0.8" /> 
            </material>
        </visual>
    </link>

    <!-- imu joint -->
    <joint name="imu_joint" type="fixed">
        <parent link="chassis_link" />
        <child link="imu_link" />
        <origin xyz="0.05 0.05 0.02" />
    </joint>

    <!-- front right wheel link-->
    <link name="front_right_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.57079 0 0"/>
            <geometry>
                <cylinder length="0.04" radius="0.032"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 0.5" /> 
            </material>
        </visual>
    </link>

    <!-- front right wheel joint-->
    <joint name="front_right_wheel_joint" type="continuous">
        <parent link="chassis_link" />
        <child link="front_right_wheel_link" />
        <origin xyz="-0.08 0.08 -0.05" />
        <axis xyz="0 1 0" />
    </joint>

    <!-- front left wheel link-->
    <link name="front_left_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.57079 0 0"/>
            <geometry>
                <cylinder length="0.04" radius="0.032"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 0.5" /> 
            </material>
        </visual>
    </link>

    <!-- front left wheel joint-->
    <joint name="front_left_wheel_joint" type="continuous">
        <parent link="chassis_link" />
        <child link="front_left_wheel_link" />
        <origin xyz="-0.08 -0.08 -0.05" />
        <axis xyz="0 1 0" />
    </joint>

    <!-- back right wheel link -->
    <link name="back_right_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.57079 0 0"/>
            <geometry>
                <cylinder length="0.04" radius="0.032"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 0.5" /> 
            </material>
        </visual>
    </link>

    <!-- back right wheel joint -->
    <joint name="back_right_wheel_joint" type="continuous">
        <parent link="chassis_link" />
        <child link="back_right_wheel_link" />
        <origin xyz="0.08 0.08 -0.05" />
        <axis xyz="0 1 0" />
    </joint>

    <!-- back left wheel link -->
    <link name="back_left_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.57079 0 0"/>
            <geometry>
                <cylinder length="0.04" radius="0.032"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 0.5" /> 
            </material>
        </visual>
    </link>

    <!-- back left wheel joint -->
    <joint name="back_left_wheel_joint" type="continuous">
        <parent link="chassis_link" />
        <child link="back_left_wheel_link" />
        <origin xyz="0.08 -0.08 -0.05" />
        <axis xyz="0 1 0" />
    </joint>

</robot>
